/* From Uiverse.io by faxriddin20 */ 
* {box-sizing: border-box;}
body
{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 50px;
}

.button-container {
    display: flex;
    background-color: black;
    width: 250px;
    height: 40px;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .button {
    outline: 0;
    border: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
  }
  
  .button:hover {
    transform: translateY(-3px);
  }
  
  .icon {
    font-size: 20px;
  }

  .addButton
  {
    border-radius: 50%;
    border: none;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    
  }


  .button_div
  {
    padding-bottom: 100px;
  }

  .addButton:hover
  {
    background-color: black;
    color: white;
    transition: 0.5s;
  }

  .navbar
  {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height:100%;
    border: red 3px solid;
  }

  .taskWindow
  {
    width: 100%;
    height: 70px;
    border: purple 3px solid;
    border-radius: 10px;
    min-height: 70px;
    margin: 10px 0 10px 0;
  }

  .scroll_window
  {
    display: flex;
    width: 100%;
    height: 100%;
    margin-bottom: 3%;
    flex-direction: column;
    overflow: scroll;
    border: green 3px solid;
  }

  .popUpWindow
  {
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding-bottom: 100px;
    background: #fff;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  .close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
  color: gray;
  text-decoration: none;
  cursor: pointer;  
  }

  .popUpBox
  {
    background-color: whitesmoke;
    width: 70%;
    height: 30%
    padding 
  }

  .inputDiv
  {
    display: flex;
    flex-direction: column;
    padding: 10%;
    border: 3px red solid;
  }

  textarea
  {
    max-width: 70%;
    max-height: 40%;

  }

  .verifyTask
  {
    text-wrap-mode: wrap;
  }

h3{
  display: flex;
  justify-content: center;
  align-content: center;
}


  